.back-main {
  height: auto;
  position: fixed;
  z-index: 99;
  top: 30px;
  left: 17.5px;
}

.back-container {
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
}

.back-icon {
  font-size: 40px;
}
