@media screen and (max-width: 1000px) {
  .salad-main-content {
    background-color: #f9ede6;
    height: 100vh;
    padding: 50px 15px 0px 15px;
  }

  .salad-title-container {
    display: flex;
    align-items: center;
  }

  .salad-title-container hr {
    flex-grow: 1;
    height: 1px;
    margin: 0 10px;
    border: none;
    background-color: #000;
  }
  .salad-title-container > h2 {
    color: #81b0b0;
    font-family: "trajan-pro-3";
    font-size: 26px;
  }
  .salad-title-span > span {
    color: #e1a304;
    font-size: 12px;
    font-family: "trajan-pro-3";
  }
  .salad-title-span {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  .salad-container-h2 > h2 {
    font-family: "trajan-pro-3";
    font-size: 38px;
    color: #000;
    font-weight: 100;
    text-align: center;
  }
  .salad-container {
    margin-top: 45px;
  }

  .salad-card-title > div {
    font-size: 14px;
    font-family: "trajan-pro-3";
    color: #000;
    font-weight: 100;
  }

  .salad-card-img {
    overflow: hidden;
    border-radius: 5px;
  }

  .salad-card-img > img {
    width: 185px;
    height: 256px;
    object-fit: cover;
    position: relative;
    top: -60px;
  }

  .white-block {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 235px;
    background: linear-gradient(
        183deg,
        rgba(242, 219, 202, 0) 44.95%,
        rgba(242, 219, 202, 0.1) 69.39%
      ),
      linear-gradient(
        180deg,
        rgba(255, 246, 246, 0) 51.72%,
        rgba(255, 250, 250, 0.74) 62.75%,
        #fffafa 74.12%
      );
    z-index: 1;
    border-radius: 5px;
  }

  .salad-card-title > span {
    font-size: 8px;
    font-family: "trajan-pro-3";
    color: #81b0b0;
    font-weight: 400;
  }
  .salad-card-title > p {
    font-size: 8px;
    font-family: "open-sans";
    color: #323232;
    // margin-top: 10px;
    font-weight: 250;
  }
  .salad-card-utils-wrapper-right > span {
    font-size: 14px;
    color: #81b0b0;
    font-family: "trajan-pro-3";
  }
  .salad-card-utils {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
  }
  .salad-card-absolute {
    position: absolute;
    top: 135px;
    width: 165px;
    left: 5px;
    z-index: 2;
    padding: 0px 5px 0px 5px;
  }
  .salad-card-utils-wrapper-right {
    margin-top: 5px;
  }
  .salad-card-main {
    width: 185px;
    height: 256px;
    border-radius: 5px;
    -webkit-box-shadow: 13px 13px 20px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 13px 13px 20px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 13px 13px 20px 2px rgba(34, 60, 80, 0.2);
    position: relative;
    margin-bottom: 30px;
  }
  .main-card-break {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 43px;
  }
  .loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .salad-salad-header {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .salad-salad-title-container > div {
    font-family: "trajan-pro-3";
    font-size: 38px;
    color: #000;
    font-weight: 100;
  }
  .salad-salad-title-container > span {
    font-family: "trajan-pro-3";
    color: #81b0b0;
    font-size: 23px;
    margin-top: 10px;
  }
  .title-2 {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
  }

  .text-2 {
    color: #e1a304;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
  }

  .salad-stick {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9ede6;
    z-index: 1000;
    padding: 20px;
  }

  .notf {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .notf > h1 {
    margin-top: 350px;
    margin-bottom: 15px;
  }

  .notf > button {
    width: 250px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #f2cf11;
    background: #f2cf11;
    box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }

  .menu-salad-title-container > p {
    font-size: 20px;
    color: #e1a304;
    font-family: "trajan-pro-3";
    margin-top: 10px;
  }
}

@media screen and (max-width: 415px) {
  .salad-card-absolute {
    width: 160px;
  }
  .salad-card-main {
    width: 165px;
  }
}

@media screen and (max-width: 365px) {
  .salad-card-absolute {
    width: 180px;
  }
  .salad-card-main {
    width: 185px;
  }
  .main-card-break {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
