@media screen and (max-width: 1000px) {
  .salad-main-content {
    background-color: #f9ede6;
    height: 100vh;
    padding: 50px 15px 0px 15px;
  }

  .salad-title-container {
    display: flex;
    align-items: center;
  }

  .salad-title-container hr {
    flex-grow: 1;
    height: 1px;
    margin: 0 10px;
    border: none;
    background-color: #000;
  }
  .salad-title-container > h2 {
    color: #81b0b0;
    font-family: "trajan-pro-3";
    font-size: 26px;
  }
  .salad-title-span > span {
    color: #e1a304;
    font-size: 12px;
    font-family: "trajan-pro-3";
  }
  .salad-title-span {
    display: flex;
    justify-content: center;
    margin-top: 5px;
  }
  .salad-container-h2 > h2 {
    font-family: "trajan-pro-3";
    font-size: 38px;
    color: #000;
    font-weight: 100;
    text-align: center;
  }
  .salad-container {
    margin-top: 45px;
  }

  .salad-card-title > div {
    font-size: 14px;
    font-family: "trajan-pro-3";
    color: #000;
    font-weight: 100;
  }

  .salad-card-img {
    overflow: hidden;
    border-radius: 5px;
  }

  .salad-card-img > img {
    width: 185px;
    height: 256px;
    object-fit: cover;
    position: relative;
    top: -60px;
  }

  .salad-card-title > span {
    font-size: 8px;
    font-family: "trajan-pro-3";
    color: #81b0b0;
    font-weight: 400;
  }
  .salad-card-title > p {
    font-size: 8px;
    font-family: "open-sans";
    color: #323232;
    // margin-top: 10px;
    font-weight: 250;
  }
  .salad-card-utils-wrapper-right > span {
    font-size: 14px;
    color: #81b0b0;
    font-family: "trajan-pro-3";
  }
  .salad-card-utils {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
  }
  .salad-card-absolute {
    position: absolute;
    top: 135px;
    width: 165px;
    left: 5px;
    z-index: 2;
    padding: 0px 5px 0px 5px;
  }
  .salad-card-utils-wrapper-right {
    margin-top: 5px;
  }
  .salad-card-main {
    width: 185px;
    height: 256px;
    border-radius: 5px;
    -webkit-box-shadow: 13px 13px 20px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 13px 13px 20px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 13px 13px 20px 2px rgba(34, 60, 80, 0.2);
    position: relative;
    margin-bottom: 30px;
  }
  .main-card-break {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 43px;
  }
  .loading-indicator {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }
  .salad-salad-header {
    display: flex;
    text-align: center;
    justify-content: center;
  }
  .salad-salad-title-container > div {
    font-family: "trajan-pro-3";
    font-size: 38px;
    color: #000;
    font-weight: 100;
  }
  .salad-salad-title-container > span {
    font-family: "trajan-pro-3";
    color: #81b0b0;
    font-size: 23px;
    margin-top: 10px;
  }
  .title-2 {
    font-size: 17px;
    font-weight: 400;
    text-align: center;
    margin-top: 20px;
  }

  .text-2 {
    color: #e1a304;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-top: 10px;
  }

  .salad-stick {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #f9ede6;
    z-index: 1000;
    padding: 20px;
  }

  .notf {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  .notf > h1 {
    margin-top: 350px;
    margin-bottom: 15px;
  }

  .notf > button {
    width: 250px;
    height: 60px;
    flex-shrink: 0;
    border-radius: 5px;
    border: 1px solid #f2cf11;
    background: #f2cf11;
    box-shadow: 4px 6px 10px 0px rgba(0, 0, 0, 0.25);
    font-family: "Roboto", sans-serif;
    font-weight: bold;
  }

  .menu-salad-title-container > p {
    font-size: 20px;
    color: #e1a304;
    font-family: "trajan-pro-3";
    margin-top: 10px;
  }
}

@media screen and (max-width: 415px) {
  .salad-card-absolute {
    width: 160px;
  }
  .salad-card-main {
    width: 165px;
  }
}

@media screen and (max-width: 365px) {
  .salad-card-absolute {
    width: 180px;
  }
  .salad-card-main {
    width: 185px;
  }
  .main-card-break {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

@media screen and (max-width: 1000px) {
  .main-container-news {
    margin: 70px 80px 90px 80px;
  }

  .main-container-news > h2 {
    font-size: 36px;
    font-family: var(--secondary-family);
  }

  .news-buttons {
    padding: 1vh 2vh;
    width: auto;
    background-color: var(--white-color);
    color: var(--black-collor);
    box-shadow: 0px 1px 2px 0px #04111f26;
    border: none;
    border-radius: 0.5vh;
    font-weight: 600;
    font-size: var(--nav-size);
  }

  .news-buttons-active {
    width: auto;
    border-radius: 0.5vh;
    border: none;
    background-color: var(--blue-color);
    padding: 1vh 2vh;
    color: var(--white-color);
    font-size: var(--nav-size);
    font-weight: 600;
  }

  .news-buttons-container {
    display: flex;
    gap: 5px;
  }

  .news-card-container {
    margin-top: 14px;
    position: relative;
  }

  .news-card {
    width: 165px;
    height: auto;
    box-shadow: 0px 1px 2px 0px #04111f26;
    border-radius: 10px;
    background-color: #fff;
  }

  .news-card-img > img {
    width: 165px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .news-card-title > div {
    color: #323232;
    font-family: "trajan-pro-3";
    font-size: 13px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 107.692% */
  }

  .news-card-title {
    padding: 3px 10px 7px 10px;
  }

  .news-date {
    color: #81b0b0;
    font-family: "trajan-pro-3";
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 10px; /* 125% */
  }

  .news-paragraph {
    color: #323232;
    font-family: "trajan-pro-3";
    font-size: 8px;
    font-style: normal;
    font-weight: 250;
    line-height: 10.476px; /* 130.952% */
  }

  .card-utils {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
  }

  // !

  .check {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  // !
  .white-block {
    position: absolute;
    top: 19px;
    width: 100%;
    width: 165px;
    height: 135px;
    background: linear-gradient(
        183deg,
        rgba(242, 219, 202, 0) 44.95%,
        rgba(242, 219, 202, 0.1) 69.39%
      ),
      linear-gradient(
        180deg,
        rgba(255, 246, 246, 0) 51.72%,
        rgba(255, 250, 250, 0.74) 62.75%,
        #fffafa 100.12%
      );
    z-index: 1;
  }
  .card-utils-right > span {
    color: #81b0b0;
    text-align: right;
    font-family: Trajan Pro 3;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 14px; /* 100% */
  }
  .salad-flex {
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (max-width: 385px) {
  .news-card {
    width: 205px;
    height: auto;
    box-shadow: 0px 1px 2px 0px #04111f26;
    border-radius: 10px;
    background-color: #fff;
  }

  .news-card-img > img {
    width: 205px;
    height: 150px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }
  .white-block {
    width: 205px;
  }
}
